*, *:before, *:after {
    box-sizing: inherit;
} 
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}  
ol, ul {
    list-style: none;
}  
body{
    width: 1440px;
    height: 800px;
    background-color: #E5E5E5;
    margin: 0 auto; 
}

.conteiner1{
    width: 1440px;
    height: 100px;
    background-color: #F4F4F4;
    
}
.control{
    padding-bottom: 12px;
    display: flex;

}
.custom-btn-1{
    display: inline-block;
    margin-left: 220px;
    margin-top: 53px;
    width: 80px;
    height: 26px;
    font-size: 12px;
    line-height: 14.06px; 
    color: #FFFFFF;
    border-radius: 4px; 
    border: none;
    justify-content: center;
    cursor: pointer;
   outline: none;
    }
   .btn-1, .btn-2 {
    background-color: #0271C7;
    border: none;
     }
    .btn-1:hover, .btn-2:hover {
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
    }
    
.custom-btn-2{
    display: inline-block;
    margin-left: 10px;
    margin-top: 53px;
    width: 80px;
    height: 26px;
    background-color: #0271C7;
    font-size: 12px;
    line-height: 14.06px; 
    color: #FFFFFF;
    border-radius: 2px;
    border: none;
    justify-content: center;
    cursor: pointer;
}
.custom-btn-3{
    display: flex;
    background-image: url(../Стажировка072022/images/vector.png);
    width: 18px;
    height: 18px;
    margin-left: 581px;
    margin-top: 57px ;
 }
.search{
    width: 210px;
    height: 28px;
    margin-left: 21px;
    margin-top: 52px;
}
.conteiner2{
    background-color: #FFFFFF;
   
}
.monthly_control{
    display: flex;
    margin-left: 220px;
    background-color: #FFFFFF;
}
.arrow_left{
    display: flex;
    background-image: url(../Стажировка072022/images/left_arrow.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;   
}
.arrow_right{
    display: flex;
    background-image: url(../Стажировка072022/images/right_arrow.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;   
}
.str1{
    width: 1001px; 
    letter-spacing: 0em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 52px;
    background-color: #FFFFFF;
    padding-top: 10px;
}
.cell {
    border: 1px solid gray;
    width: 143px;
    height: 120px;
}
h3{
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
    
}
h2{
    padding-top: 2px;
    font-size: 14px;
    line-height: 16px;
    padding-left: 2px;
}
p{
    font-size: 14px;
    padding-top: 5px;
    padding-left: 5px;
    line-height: 16px;
}

.p1{   
    justify-content: center;   
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
}
.text1{
    width: 59px;
    height: 18px;
    font-size: 12px;s
    margin-left: 12px;
    border: 1px solid gray;
    border-radius: 3px;
    text-align: center;
}

